.content{
	overflow: auto;
	position: relative;
	padding: 10px;
	margin-top: -29px;
	width: 740px;
	max-width: 97%;
	height: 520px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content img{
	margin-top: 30px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding: 3px;
	background: rgba(0,0,0,0.2);
}
